* {
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url(IMG/fundo_forms.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.casa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.casa img{
    width: 100px;
    height: 100px;
    margin-top: -150px;
    margin-bottom: 50px;
}

.div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.enviar {
    color: #fff;
    background-color: white;
    padding: 5px;
    height: 45px;
    width: 90%;
    border: 1px solid black;
    
}

input {
    height: 20px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
}

.sexo {
    display: flex;
    padding: 10px;
}
